@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-destaque: #C92071;
    --cor-gradiente-primary: #B5B6F2;
    --cor-gradiente-secondary: #EFEFFF;
    --cor-branca: #FFFFFF;
    --cor-titulo: #1f1f1f;
    --cor-paragrafo: #474747;
    --cor-paragrafo2: #47474710;
    --cor-entrada-texto: #66666685;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    color: var(--cor-paragrafo);
}

body {
    height: 100%;
}

header {
    div {
        width: 11.125rem;
        height: 4rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .2725rem;

        span {
            font-weight: 600;
            font-size: 1.2344rem;
            color: var(--cor-destaque);
        }
    }
}

main {
    padding: 3.9375rem 0 5rem;
    background: linear-gradient(var(--cor-gradiente-primary), var(--cor-gradiente-secondary));

    form {
        background-color: var(--cor-branca);
        margin: 0 auto;
        width: 19.6875rem;

        border-radius: .25rem;
        padding: 1.875rem;
        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        .titulo {
            h1 {
                font-size: 1.375rem;
                letter-spacing: .125rem;
                text-align: center;
                color: var(--cor-titulo);
                line-height: 2.125rem;
            }

            p {
                font-size: .875rem;
                letter-spacing: .0156rem;
                text-align: center;
            }
        }

        .entrada {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            div {
                label {
                    font-size: .75rem;
                    font-weight: 700;
                    letter-spacing: .0469rem;
                    line-height: 1.5rem;
                }

                input {
                    width: 100%;
                    background-color: var(--cor-paragrafo2);
                    border: none;
                    border-radius: .5rem;
                    line-height: 1.75rem;
                    letter-spacing: .0469rem;
                    padding: 1rem .75rem;
                    font-size: 1rem;
                    margin-top: .3125rem;


                    &::placeholder {
                        color: var(--cor-entrada-texto);
                    }

                    &:focus {
                        outline-color: var(--cor-destaque);
                    }
                }
            }


        }

        .recuperacao {
            font-size: .875rem;
            font-weight: 500;
            line-height: 1.375rem;
            letter-spacing: .0156rem;
        }

        button {
            height: 3rem;
            border: none;
            border-radius: 0.5rem;
            letter-spacing: .0469rem;
            font-size: 1rem;
            background-color: var(--cor-destaque);
            color: var(--cor-branca);
            font-weight: 700;
        }

        .social {
            width: fit-content;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            align-items: center;

            .icones {
                display: flex;
                gap: 1.5rem;
            }
        }
    }
}

footer {
    padding: 3.125rem 1.25rem 2.8125rem;
    background-color: var(--cor-titulo);

    .logo {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: .2725rem;

        span {
            font-weight: 600;
            font-size: 1.5rem;
            color: var(--cor-branca);
        }
    }

    p {
        font-size: .875rem;
        color: var(--cor-branca);
        line-height: 1.375rem;
    }

    .social {
        display: flex;
        gap: 2.1875rem;
        margin: 1.875rem 0 2.5rem;
    }

    .informacoes {

        .descobrir {
            display: flex;
            flex-direction: column;

            h2 {
                color: var(--cor-branca);
                font-size: 1.125rem;
                font-weight: 600;
                margin-bottom: .625rem;
            }
            a{
                color: var(--cor-branca);
                text-decoration: none;
                font-weight: 300;
            }
        }
    }
}